---
import type { SiteMeta } from "@/types";
import { ViewTransitions } from "astro:transitions";

import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { title, description = siteConfig.description, ogImage, articleDate },
} = Astro.props;
---

<html lang={siteConfig.lang}>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<BaseHead title={title} description={description} ogImage={ogImage} articleDate={articleDate} />
		<ViewTransitions />
	</head>
	<body>
		<ThemeProvider />
		<SkipLink />
		<Header transition:persist />
		<main id="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>
